@import 'reset';
@import 'colours';




a{
	color: saturate($main-colour, 20%);
	text-decoration: none;

		&:hover{
			color: $background-color;
			
		}
}


header{
	background: url('images/cd-logo-sm.png') no-repeat $main-colour;
	overflow: hidden;


		@media screen and (min-width: 800px){
			background: url('images/cd-logo.png') no-repeat $main-colour;
		}

		h1{
		color: $contrast-text;
		text-align: center;	
		}

		nav{
		color: $contrast-text;
		float: right;
		}
}


.main-content{
	padding: 3% 8%;
	margin: 0 auto;
	text-align: center;
	max-width: 960px;
	line-height: 1.4em;
}

.section{
	margin-bottom: 5%;



	img{
		display: block;
		margin: 5% auto;
	}

}

#skills{

	ul{
		width: 90%;
		margin: auto;
		overflow: hidden;

		@media screen and (min-width: 480px){
			width: 95%;
		}

	}

	li{
		background: lighten($background-color, 35%);
		display: inline-block;
		width: 35vw; //sized relative to viewport width
		height: 35vw;
		max-width: 207px;
		max-height: 207px;	
		border: 2px solid lighten($background-color, 35%);
		font-size: 20vw; //to keep the font size inside box as it expands
		line-height: 36vw; //this is to vertically align the 
		text-align: center;

		@media screen and (max-width: 479px){
			&:nth-child(-n+2){ //select first and second in the list
				margin-bottom: 4%;
			}

			&:nth-child(even){
				float: right;
			}

			&:nth-child(odd){
				margin-right: 3%;
			}
		}
			
		@media screen and (min-width: 480px){
			width: 17vw; //sized relative to viewport width
			height: 17vw;
			font-size: 10vw; //to keep the font size inside box as it expands
			line-height: 17vw; //this is to vertically align the 
			margin-left: 2%;


			&:first-child{
				margin-left: 0;
			}
		}

		@media screen and (min-width: 1219px){
			font-size: 7.5rem;
			line-height: 13rem;
		}

	

	}

}

//Refactor!!!
	li:hover i{
		display: none;
	}


	#code:hover:after{
		content: 'code';
		font-size: 6vw;
		color: $main-colour;

	}

	#design:hover:after{
		content:'design';
		font-size: 5vw;
		color: $main-colour;
	}

	#content:hover:after{
		content: 'content';
		font-size: 5vw;
		color: $main-colour;
	}

	#coffee:hover:after{
		content: 'drink';
		font-size: 5vw;
		color: $main-colour;
	}
//Refactor!!

#about-cathryn{
	overflow: hidden;
	width: 95%;
	margin: 4% auto;

	@media screen and (min-width: 800px){
		margin-bottom: 0;
		text-align: left;
	}

	#cd-photo{
	display: block;
	margin: 0 auto 3%;
	width: 40%;
	max-width: 200px;

		@media screen and (min-width: 800px){
			float: right;
		}
	}

	p{
		background-color: lighten($background-color, 35%);
		padding: 5%;

		@media screen and (min-width: 800px){
			width: 55%;
		}
	}

}

#contact{
	clear: both;
	overflow: hidden;
}

.location{
	@media screen and (max-width: 669px){
		margin-bottom: 10%;
	}
	@media screen and (min-width: 670px){
		float: left;
		margin-left: 3%;

	}
	@media screen and (min-width: 800px){
		margin-left: 1%;
		width: 48%;
	}
}

.online-links{

	@media screen and (min-width: 670px){
		float: right;
		margin-right: 3%;
	}
	@media screen and (min-width: 800px){
		margin-right: 1%;
		width: 48%;
	}
}



@media screen and (min-width: 700px){

	#supporting-info{
		float: left;
		width: 48%;
	}
	#blog{
		float: right;
		width: 48%;
	}


}



h2{
	border-top: 2px solid $main-colour;
	border-bottom: 2px solid $main-colour;
	text-align: center;
	margin-bottom:  5%;
	padding: 5px 0;
}

h3{
	margin-bottom: 3%;
}

figure img{
	width: 70%;
}

footer{
	background-color: $main-colour;
	padding: 4% 2%;
	clear: left;
	color: $contrast-text;

		@media screen and (min-width: 665px){
			padding: 2%;
		}
}
